#slider {
    width: 566px; 
    height: 250px; 
    position: relative; 
	overflow: hidden; 
}
#sliderContent {
    width: 566px; 
    position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}

.clear {
	clear: both;
}
ul { list-style-type: none;}