/*
Project-Name : THE ELLA BISTRO
Design by : Creative Esper .co.,Ltd
Website : www.creativeesper.com
contact : ekkalux@creativeesper.com
*/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

body{
	margin: 0 auto;
	
	background-image: url(../images/landing_page3.jpg) ;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	background-color: black;
}
#main{
	margin: 0 auto;
	width: 960px;
	width: 500px;
}
p{
	line-height: 20px;
}
b{
	font-weight: bold;
}

/***** Black line *****/

#black_top{
	width: 100%;
	height:50px;
	background-color: black;
	position: fixed;
	top:0;
	left:0;
}
#black_bottom{
	width: 100%;
	height:50px;
	background-color: black;
	position: fixed;
	bottom:0;
	left:0;
}
/***** END Black line *****/

/***** LANDING PAGE *****/

#landing_page{
	margin: 0px auto;
	width: 492px;
	height: 500px;

}
#logo_ld{
	margin-top: 170px;
}
#menu_ld{
	
	width: 303px;
	list-style: none;
	margin: 0 auto;
	
}
ul#menu_ld li a{
	margin-top: 25px;
	display: block;
	float: left;
	height: 38px;
	background-image: url(../images/menu_landing_menu.png);
	text-indent: -9999px;
}
	ul#menu_ld li a.bar_ld{
	width: 90px;
	background-position: 0 0;
	}
	ul#menu_ld li a.bistro_ld{
	width: 135px;
	background-position: -91px 0;
	}
	ul#menu_ld li a.bed_ld{
	width:78px;
	background-position: -225px 0;
	}
	/***** Hover *****/
	ul#menu_ld li a.bar_ld:hover{
	width: 90px;
	background-position: 0 -45px;
	}
	ul#menu_ld li a.bistro_ld:hover{
	width: 135px;
	background-position: -91px -45px;
	}
	ul#menu_ld li a.bed_ld:hover{
	width:78px;
	background-position: -225px -45px;
	}

#book-landing{
	margin-top: 335px;
	margin-left: 50px;
	width:302px;
	height: 60px;
}
div#book-landing a{
	
}
a#btn-landing{
	width:302px;
	height: 60px;
	text-indent: -9999px;
	
	display: block;
}
	a#btn-landing:hover{
		background-image: url(../images/lightbox-book-btn.png);
	}
	a#btn-landing:active
		{
		background-image: url(../images/lightbox-book-btn-active.png);
	}
/***** END LANDING PAGE *****/


/***** MAIN PAGE *****/

#container{
	margin: 0 auto;
	width: 1020px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	background-color: white;
/* 	background-image: url(../images/background_main.jpg); */
	background-repeat: repeat;
	
}
#main-wrapper{
	margin: 0 auto;
	width: 960px;
}
#header{
	padding-top: 40px;
}
#logo{
	width: 320px;
	height: 214px;
	
	float: left;
}

/***** NAV *****/

#nav{
	margin-left: 330px;
	width: 630px;
	height: 214px;
	
	background-image: url(../images/sprite_menu_3.png);
	background-repeat: no-repeat;
}
#nav div {
	display: block;
	position: absolute;
	cursor: pointer;
}
#nav div a{
	text-indent: -9999px;
	display: block;
	position: absolute;
}

#nav a.bistro_nav{
	margin-left: 24px;
	margin-top: 13px;
	width: 138px;
	height: 115px;
}
#nav a.ella_nav{
	margin-left: 24px;
	margin-top: 130px;
	width: 138px;
	height: 73px;
}
#nav a.book_nav{
	margin-left: 167px;
	margin-top: 13px;
	width: 300px;
	height: 190px;
}
#nav a.book2_nav{
	margin-left: 167px;
	margin-top: 13px;
	width: 300px;
	height: 125px;
}
#nav a.bar_nav{
	margin-left: 167px;
	margin-top: 138px;
	width: 300px;
	height: 65px;
}
#nav a.contact_nav{
	margin-left: 472px;
	margin-top: 13px;
	width: 138px;
	height: 75px;
}
#nav a.trip_nav{
	margin-left: 482px;
	margin-top: 97px;
	width: 71px;
	height: 60px;
}
/*
#nav a.facebook_nav{
	margin-left: 482px;
	margin-top: 157px;
	width: 125px;
	height: 36px;
}
*/
#nav a.facebook2_nav{
	margin-left: 553px;
	margin-top: 157px;
	width: 54px;
	height: 36px;
}
#nav a.news_nav{
	margin-left: 482px;
	margin-top: 157px;
	width: 71px;
	height: 36px;
}
#nav a.twitter_nav{
	margin-left: 553px;
	margin-top: 97px;
	width: 54px;
	height: 60px;
}

#nav a.bistro_nav:hover{background-image: url(../images/bistro_hover.png);}
#nav a.ella_nav:hover{background-image: url(../images/about_hover.png);}
#nav a.book_nav:hover{background-image: url(../images/book_hover.png);}
#nav a.book2_nav:hover{background-image: url(../images/book_hover_2.png);}
#nav a.bar_nav:hover{background-image: url(../images/bar_hover.png);}
#nav a.contact_nav:hover{background-image: url(../images/contact_hover.png);}
#nav a.trip_nav:hover{background-image: url(../images/tripadvisor_hover.png);}
/* #nav a.facebook_nav:hover{background-image: url(../images/facebook_hover.png);} */
#nav a.news_nav:hover{background-image: url(../images/news2_hover.png);}
#nav a.facebook2_nav:hover{background-image: url(../images/facebook2_hover.png);}
#nav a.twitter_nav:hover{background-image: url(../images/twitter_hover.png);}

#nav a.book_nav:active{background-image: url(../images/book_hover.png);}

/***** END NAV *****/

/***** FOOTER *****/

#footer{
	padding-bottom: 10px;
	width: 960px;
	height: 108px;
	background-image: url(../images/footer_bg.png);
	background-repeat: no-repeat;
	
}
#footer div#contact-footer p{
	text-indent: -9999px;
	position: absolute;
	display: block;
}
#footer div#logo-footer{
	margin-left: 20px;
	margin-top: 17px;
	position: absolute;
}
#copyright{	
	margin-top: -3px;
	margin-left: 235px;
	position: absolute;
}
#copyright p{
	font-family: Times;
	font-size: 13px;
}
/***** END FOOTER *****/

/***** CONTENT-WRAPPER *****/

.content-wrapper{
	width: 960px;
	margin-top: 40px;
/* 	margin-bottom: 10px; */
	
	color: #252122;
	font-family: "Helvetica","Arial";
	font-size: 14px;
}

/***** END CONTENT-WRAPPER *****/

/***** BOOKING *****/

.room{
	width: 920px;
	margin-left: 20px;
	
}
div.right-colm{	
	float: right;
	width: 401px;
}
div.gallery_room{
	margin-left: 31px;
}
div.thumbs, div.thumbs2, div.thumbs3, div.thumbs4 {
	margin-left: 4px;
	margin-top: 7px;
	width: 370px;
	height: 62px; 
	overflow: hidden; 
	}
img.largeImage, img.largeImage2, img.largeImage3, img.largeImage4  {
	width: 360px;
	height: 260px;
	border: 5px solid #221e1f;
}
.thumbs img, .thumbs2 img, .thumbs3 img, .thumbs4 img {
	width: 79px;
	height:56px;
	border: 3px solid #221e1f; 
	cursor: pointer; 
	
	float: left; 
	margin-right: 7px; 
	}
.thumbs img:hover, .thumbs2 img:hover, .thumbs3 img:hover, .thumbs4 img:hover {
	width: 79px;
	height:56px;
	border: 3px solid #d03743;   
	}
div.show-pic {
	width: 370px;
	height: 270px; 
	position: relative; 
	}
	
	.rate{
		margin-top: 20px;
		margin-left: 31px;
		width:371px;
		height: 37px;
		background-image: url(../images/rate2.png);
		background-repeat: no-repeat;
	}
	.rate p{
		padding-left: 147px;
		padding-top: 12px;
		font-family: Times;
		color: #d03743;   
		font-size: 40px;
		font-weight: bold;
		
		text-shadow: -1px -1px #252122;
	}
	.suggest{
		margin-top: 15px;
		margin-left: 30px;
		width: 370px;
		
		font-size: 12px;
		font-style: italic;
		text-indent: 4px;
	}
div.description{
	width: 510px;
	display: block;
}
	h1.room-name{
		padding-bottom: 10px;

		font-weight: 400; 
		color: #d03743;
		text-shadow: -1px -1px #252122;
		
		font-weight: bold;
		font-size: 46px;
		text-align:left;
		font-family: Helvetica , Arial;
	}
	div.description p{
		width: 510px;
		margin-top: 15px;
		text-align: justify;
		font-family: "Helvetica","Arial";
	}
	div.description p span{
		font-weight: bold;
	}
	div.rooms-offer{
		margin-top: 20px;
		margin-left: 0px;
	}
	.rooms-offer ul{
		padding-top: 5px;
		margin-left: 30px;
		list-style-image: url(../images/bullet-booking.png); 
	}
	.rooms-offer ul li{
		 margin-top: 5px;
	}
	.rooms-offer h2{
		font-size: 18px;
		font-weight: bold;
	}

div.room-line{
	margin-top: 20px;
	margin-bottom: 40px;
	width: 920px;
	height: 2px;
	background-image: url(../images/line.jpg);
	background-repeat: repeat;
}
/***** END BOOKING *****/

/***** BOOKING BUTTON *****/

.book_btn_bg a.book_btn{
		margin-top: 15px;
        margin-left: 31px;
		text-indent: -9999px;
		width:370px !important;
		height: 64px !important;
		position:absolute;
		background-image: url(../images/booking_fde.png);
		background-repeat: no-repeat;
}
a.book_btn:hover{
		margin-top: 15px;
		margin-left: 31px;
		width:372px !important;
		height: 65px !important;
		
		background-image: url(../images/booking_fde1_hover.png);
		background-repeat: no-repeat;
		cursor: pointer;
}

/*
.book_btn_bg a.book_btn{
		margin-top: 15px;
        margin-left: 31px;
		text-indent: -9999px;
		width:174px !important;
		height: 64px !important;
		position:absolute;
		background-image: url(../images/booking_btn1.png);
		background-repeat: no-repeat;
}
a.book_btn:hover{
		margin-top: 15px;
		margin-left: 31px;
		width:176px !important;
		height: 65px !important;
		
		background-image: url(../images/booking_btn_hover.png);
		background-repeat: no-repeat;
		cursor: pointer;
}
*/

/***** LIGHTBOX *****/

/*
.black_overlay{
		display: none;
		position: fixed;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index:1001;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
}
.lightbox {
		display: none;
		position: fixed;
		top: 10%;
		left: 25%;
		width: 618px;
		height: 618px;
		background-image: url(../images/lightbox_bg.png);
        background-repeat: no-repeat;
		z-index:1002;
		overflow: auto;
}

a.close_btn{
	margin-left: 585px;
	margin-top: 0px;
	width: 30px;
	height: 31px;
	
	background-image: url(../images/close_btn.png);
	background-repeat: no-repeat;
	position: absolute;
	text-indent: -9999px;
}
*/

.black_overlay-landingpage{
/* 			display: block; */
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
}
.white_content-landingpage {
			display: block;
			position: absolute;
			margin: 0 auto;
			top: 17%;
			left: 33%;
			width: 400px;
			height: 445px;
			background-image: url(../images/lightbox-landing.png);
			background-repeat: no-repeat;
			z-index:8002;
			overflow: auto;
}
#light{
/* 	margin: o auto; */
}
a.close_btn2{
	margin-left: 370px;
	margin-top: 0px;
	width: 30px;
	height: 31px;
	
	background-image: url(../images/close_btn.png);
	background-repeat: no-repeat;
	position: absolute;
	text-indent: -9999px;
}
/***** END LIGHTBOX *****/

/***** BOOKING FORM *****/

.booking_form form{
	width: 540px;
	height:540px;
	margin: 0 auto;
	font-size: 20px;
}
.booking_form form .header_form{
	
	margin-left: 181px;
	margin-top: 49px;
	width: 220px;
	height: 32px;
	background-image: url(../images/lightbox_head.png);
	text-indent: -9999px;
}
.booking_form label {
	margin-top: 20px;
	display: block;
}
.booking_form form input{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	height: 30px;
	font-family: Helvetica;
	font-size: 16px;
	background-color: transparent;
	border: 0px solid transparent;
	box-shadow: inset 0 0 0 2px #252122;
}
select.room_type{
	width: 540px;
	padding: 7px 10px 5px 10px;
	margin-top: 10px;
	height: 30px;
	font-family: Helvetica;
	font-size: 16px;
	
	background-color: transparent;
	background-image: url(../images/room_type_arrow.png);
	background-repeat: no-repeat;
	background-position: 510px 10px;
	
	border: 0px solid transparent;
	box-shadow: inset 0 0 0 2px #252122;
	-moz-box-shadow: inset 0 0 0 2px #252122;
	-webkit-box-shadow: inset 0 0 0 2px #252122;
	
	outline:none;
	
    appearance:none !important;
	 -moz-appearance: none !important;
	-webkit-appearance:none !important;
    
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.booking_form form input:focus{
	border-color: 2px solid gray;
}
input.room_type{
	width: 520px;
}
input.check_in{
	width: 240px;
	z-index: 1200;
	display: block;
}
input.check_out{
	margin-left: 280px;
	width: 240px;
	z-index: 1100;
	display: block;
}
input.full_name{
	width: 240px;
	display: inline;
	display: block;
}
input.booking_email{
	margin-left: 280px;
	width: 240px;
	display: block;
}
label.right_box{
	margin-top: -62px;
	margin-left: 280px;

}
label.right_box1{
	margin-top: -62px;
	margin-left: 280px;

}
textarea.message{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	width: 380px;
	height: 178px;
	
	font-family: Helvetica;
	font-size: 16px;
	
	background-color: transparent;
	border: 0px solid transparent;
	box-shadow: inset 0 0 0 2px #252122;
}
input.send_booking{
	margin-left: 20px;
	width: 120px !important;
	height: 178px !important;
	
	background-image:url(../images/send_btn.png);
	background-repeat: no-repeat;
	position: absolute;
	
	text-indent: -9999px;
	border: 0px solid transparent !important;
	box-shadow: 0 0 0 0px transparent !important;
	
}
input.send_booking:hover{
	width: 121px;
	height: 179px;
	
	background-image:url(../images/send_btn_hover.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

/***** CONTACT US *****/

div#contact-warpper{
	width: 920px;
	margin-left: 20px;
}
#postcard{
	width: 920px;
	height: 450px;
}
div#location{
	width: 336px;
	height: 450px;
	float: left;
}
div#location h4{
	text-indent: -9999px;
}
div#location p{
	font-size: 18px;
	font-family: Helvetica , Arial; 
	/*font-family: 'Sanchez', serif , Helvetica , Arial;*/ /*google web font*/
	font-weight:bold;
	padding-top: 8px;	
	text-align: right;
}
#location div#address{
	margin-top: 30px;
	padding-top: 40px;
	width: 336px;
	height: 115px;
	display: block;
	background-image: url(../images/address_bg2.png);
	background-repeat: no-repeat;
	background-position: top right;
}
#location div#phone{
	padding-top: 30px;
	width: 336px;
	height: 60px;
	background-image: url(../images/phone_bg2.png);
	background-repeat: no-repeat;
	background-position: top right;
}
#location div#fax{
	padding-top: 30px;
	width: 336px;
	height: 60px;
	background-image: url(../images/fax_bg.png);
	background-repeat: no-repeat;
	background-position: top right;
}
#location div#email{ 
	padding-top: 30px;
	width: 336px;
	height: 60px;
	background-image: url(../images/email_bg2.png);
	background-position: top right;
	background-repeat:no-repeat;
}
/***** MAP *****/

#map{
 	margin-left: 357px;
 	margin-top: 20px;
	width: 533px;
	height: 410px;
	position: absolute;
	
	border: 5px solid #252122;
	
}
#contact-warpper div#under-line{
	width: 920px;
	height: 12px;
	margin-top: 10px;
	background-image: url(../images/postcard_line.png);
	clear: both;
}
/***** END MAP *****/

/***** CONTACT FORM *****/

#contact-us{
	margin-top: 40px;
/* 	margin-left: 70px; */
	width: 780px;
/* 	height: 480px; */
	margin-bottom: 40px;
}

/*
div#contact-head{
	width: 260px;
	height: 478px;
	background-image: url(../images/contact2_bg.png);
	float: left;	
}
*/
div#black-right{
	width: 366px;
	height:486px;
		
	margin-top: -492px;
/* 	margin-left: 530px; */
	margin-left: 20px;
	background-color: white;
	
	position: absolute;
	border: 2px solid #252122;
}
div#inner-right{
	width: 346px;
	height:466px;
	
	margin-left: 5px;
	margin-top: 5px;
	
/* 	background-image: url(../images/contact_bar.jpg); */
	border: 5px solid #252122;
}

div#contact-head{	
	margin-bottom: 30px;
	background-repeat: no-repeat;
}
div#contact-head h1{

	margin-left: 20px;
	font-size: 40px;
	font-weight: bold;
	
	margin-left: 416px;
/* 	text-indent: -9999px;	 */
}
div#contact-form{
	margin-top: -8px;
	margin-left: 20px;
	width: 500px;
/* 	height: 480px; */
/* 	position: absolute; */
	margin-left: 416px;
}
div#contact-form label{
	margin-top: 8px;
	font-size: 20px;
	font-weight:bold;
	display: block;
}
div#contact-form input{
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	width: 460px;
	height:30px;
	
	font-size: 18px;
	
	border: 0px solid black;
	box-shadow: inset 0 0 0 2px #252122;
	background-color: transparent;
	
}
textarea#contact_message{
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	width:326px;
	height:196px;
	
	font-size: 18px;
	
	border: 0px solid black;
	box-shadow: inset 0 0 0 2px #252122;
	background-color: transparent;
}
#contact_send{
	
	margin-left: 20px;
	width:114px !important;
	height:200px !important;
	position: absolute;
	
	border: 0px solid transparent !important;
	box-shadow: 0 0 0 0px transparent !important;
	background-image: url(../images/contact_send.png);
	text-indent: -9999px;
	
	cursor: pointer;
}
#contact_send:hover{
	width: 115px;
	height:221px;
	background-image: url(../images/contact_send_hover.png);
}
/***** END CONTACT FORM *****/

/***** ABOUT-US *****/

#about-wrapper{
	width: 920px;
	margin-left: 20px;
}

div#about_pic{
	margin-top: 50px;
	width: 320px;
	height:530px;
	background: white;
	border: 5px solid #252122;
	float: right;
}
div#about_content{
	margin-top: 40px;
	margin-bottom: 40px;
}
div#about_content p{
	width: 560px;
	text-align: justify;
	margin-top: 20px;
}
div#about_content p b{
	font-weight: bold;
}
a#mailto{
	color: #d03743;
}
div#about_content h1{
	width: 560px;
	font-size: 46px;
	font-weight: bold;
	text-align: left;
	font-family: Helvetica , Arial;
	color: #d03743;
	text-shadow: -1px -1px #252122;
}
div#about_line {
	width: 560px;
	height:2px;
	background-image: url(../images/line.jpg);
	background-repeat:repeat;
} 
/***** END ABOUT-US *****/

/***** BISTRO *****/

#bistro-wrapper{
	width: 920px;
	height: 100%;
	margin-left: 20px;
	margin-bottom: 40px;
	position: relative;
}
#bistro-wrapper2{
	width: 920px;
	height: 670px;
	margin-left: 20px;
	margin-bottom: 40px;
	position: relative;
}
#bistro-content{
	width: 620px;
	padding-bottom: 40px;	
	border: 5px solid #252122;
}
#bistro-content h1{
	width: 620px;
	margin-top: 30px;
	margin-bottom: 20px;
	
	color: #d03743;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica , Arial;
	font-weight:bold;
	text-shadow: -1px -1px #252122;
}
#bistro-content p{
	width: 570px;
	margin: 0 auto;
	text-align: justify;
	
	font-family: "Courier New";
	font-size: 14px;
}
#bistro-slide{
	width: 566px;
	height:250px;
	margin: 30px auto;
	border: 2px solid #252122;
}

/* right */

#bistro-menu{
	width: 258px;
	right: 0px;
	top:0;
	position: absolute;

}
div.bistro-menu-list{
	width: 254px;
	margin-bottom: 20px;
	border: 2px solid #252122;
}
.bistro-inner{
	padding: 20px 0 20px 0;
	margin: 5px 5px 5px 5px;
	border: 5px solid #252122;
	
	text-align: center;
}
div.bistro-inner a{
	width: 234px;
	color: #252122;
	font-family: 'Sanchez', serif , Helvetica , Arial; /*google web font*/
	font-weight:bold;
	font-size: 30px;
	text-align: center;
}
div.bistro-inner a:hover{
	color: #d03743;
	text-shadow: -1px -1px #252122;
}
#menu-head{
	width: 258px;
	height: 38px;
	margin-bottom: 20px;
	background: #252122;
}
#menu-head h1{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 254px;
	
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Sanchez', serif , Helvetica , Arial; /*google web font*/
	font-weight:bold;
}
#bistro-line-menu{
	width: 258px;
	height: 5px;
	background: #252122;	
}
/* MENU-CONTENT */

#menu-content{
	width: 570px;
	margin: 10px auto;
}
#bottom-line-bistro{
	width:570px;
	height: 2px
	background: #252122
}

/***** BAR *****/
#bar-wrapper{
	width: 920px;
/* 	height: 500px; */
	margin-left: 20px;
	position: relative;
/* 	border: 1px solid black; */
}
div#bar-gall{
	width: 920px;
	height: 1331px;
	position: relative;
}
div#bar-gall div{
	position: absolute;
}
	/*pic*/
	#bar-pic1{
		top: 0;
		left: 0;
	}
	#bar-pic2{
		top: 0;
		left: 660px;
	}
	#bar-pic3{
		top: 330px;
		left: 0;
	}
	#bar-pic4{
		top: 330px;
		left: 660px;
	}
	#bar-pic5{
		top: 540px;
		left: 0;
	}
	#bar-pic6{
		top: 660px;
		left: 290px;
	}
	#bar-pic7{
		top: 990px;
		left: 0;
	}
	#bar-pic8{
		top: 990px;
		left: 370px;
	}
	#bar-pic9{
		top: 990px;
		left: 660px;
	}
#cocktail-btn{
	width: 256px;
	height: 86px;
	
	top: 1200px;
	left: 660px;
	
	border: 2px solid #252122;
}
#cocktail-inner{
	width: 236px;
	height: 46px;
	padding: 20px 0 0 0;
	margin: 5px 0 0 5px;
	border: 5px solid #252122;
	
	text-align: center;
}
#cocktail-inner a{
	width: 236px;
	color: #252122;
	
	font-family: 'Sanchez', serif , Helvetica , Arial; /*google web font*/
	font-weight:bold;
	font-size: 24px;
	text-align: center;
}
#cocktail-inner a:hover{
	color: #d03743;
	text-shadow: -1px -1px #252122;
}
div#bar-btn{
	top:380px;
	left: 280px;
}
#bar-btn a{
	width: 340px;
	height: 209px;
	
	background-image: url(../images/bar/bar_btn.png);
	position: absolute;
	
	text-indent: -9999px;
}
#bar-btn a:hover{
	background-image: url(../images/bar/bar_btn_hover.png);
}

/***** END BAR *****/


/***** SUBSCRIBE *****/
#subscribe-btn{
	width: 20px;
	height: 160px;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	
	position: fixed;
	right: 0;
	top:200px;
	
	background-color: #d03743 ;
	
	z-index: 9999;
	text-align: center;
	box-shadow: -2px -2px 0px #252122;
	
	/*
-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
*/

}
#subscribe-btn a{
	text-shadow: -1px -1px #252122;
	font-family: 'Sanchez', serif , Helvetica , Arial; /*google web font*/
	font-size: 16px;
	font-weight: bold;
	color: white;	
}
#subscribe-btn a:hover{
	text-shadow: 1px 1px white;
	color: #252122;
}


/*** EVENT LIGHTBOX***/
.black_overlay{
		display: none;
		position: fixed;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index:1001;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
}
.lightbox {
		display: none;
		position: fixed;
		top: 10%;
		left: 25%;
		/*
width: 100%;
		height: 100%;
*/
		width: 317px;
		height: 100%;
/* 		height: 618px; */
/* 		background-image: url(../images/lightbox_bg.png); */
        background-repeat: no-repeat;
		z-index:1002;
		overflow: auto;
}

a.close_btn{
/* 	margin-left: 585px; */
	margin-top: 0px;
	width: 30px;
	height: 31px;
	
	background-image: url(../images/close_btn.png);
	background-repeat: no-repeat;
	position: absolute;
	text-indent: -9999px;
}
a.close_event_btn{
	width: 1200px;
	height: 5000px;
}
.event-wrapper{
	width: 645px;
/* 	margin-left: -25px; */
	padding-bottom: 25px;	
/* 	border: 1px solid #252122; */

}
.event-content{
	width: 180px;
	height: 230px;
/* 	margin: 10px auto; */
	
	margin-right: 25px;
	border: 3px solid #252122;
	float: left;
}
#bottom-line-bistro{
	width:570px;
	height: 2px;
	background-color: #252122;
}
.clear-event{
	clear: both;
}





























